.productDetail {
  margin: 2rem;
}
.productDetail h3 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-align: center;
}
.product {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.productImage {
  background-color: brown;
  width: 20rem;
  height: 10rem;
}
